{% extends "layout.html" %}

{% block content %}

{% if not user %}
  
	<div class="w3-center w3-padding">
		<h2>PLEASE, LOG IN </h2>
		<p class="w3-large">To find the best music for you and you friends, the Friendship Saver App needs to load the tracks you like.</p>
	</div>
	
	<div class="w3-center w3-padding">
		<a href= "/auth"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">OK</button></a>
	</div>
	
	<div class="w3-center w3-padding">
		<a href= "/intro"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Cancel</button></a>
	</div>

{% else %}


  
  
<div class="w3-responsive w3-padding">
<table class="w3-table">
<tbody>
<tr>
  <td width="120">
  	<img src="{{ userimage }}" alt="{{ username }}" style="width:80%">
  </td>
  <td>   
  	<h3>Welcome <br> {{ username }}</h3>  

</td>
</tr>
</tbody>
</table>
</div>

<hr>


<div class="w3-responsive w3-padding">
<table class="w3-table">
<tbody>
	<tr>
	  <td width="120">
	  </td>
	  <td>    
	  	  	<h3>Users:</h3><br>
	  	  	{% for play in userlist %}
	  	  	{{play}}<br>
	  	  	 {% endfor %}

		</td>
	</tr>
	<tr>
	  <td width="120">
	  </td>
	  <td>    
	  	  	<h3>Profile Data:</h3>
	  	  	{{ user }}
		</td>
	</tr>
	<tr>
	  <td width="120">
	  </td>
	  <td>    
	  	  	<h3>Database:</h3><br>
	  	  	{{ dictcheck }}
		</td>
	</tr>
	<tr>
	  <td width="120">
	  </td>
	  <td>    
	  	  	<h3>Friendlist Database:</h3>
	  	  	{{ friendlistCheck }}
	 </td>
	</tr>
</tbody>
</table>
</div>
 
<hr>

	
	<div class="w3-center w3-padding">
		<a href= "/intro"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Cancel</button></a>
	</div>

{% endif %}

{% endblock %}