{% extends "layout.html" %}

{% block content %}


<div class="w3-center w3-padding">
  <h2 class="w3-animate-bottom">SOMETHING WENT WRONG</h2>
  <p class="w3-large">The link you received doesn't seem to be valid. Don't mind. <br>You can check out the SPOTIFY FRIENDSHIP SAVER APP, anyway.</p>
</div>

<br>
<br>
<br>
<br>

<div class="w3-center w3-padding">
	<a href= "/profile"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Continue</button></a>
</div>


{% endblock %}
