<!DOCTYPE html>
<html>
<title>Friendship Saver</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Live envoronment: add slash -->
<link rel="stylesheet" href="/static/css/w3.css"> 
<link rel="stylesheet" href="/static/css/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Prototyping only</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="{{ url_for('dashboard_screen') }}" class="w3-bar-item w3-button">Dashboard</a>
  <a href="{{ url_for('profile') }}" class="w3-bar-item w3-button">Profile</a>
  <a href="http://ddns.buzztelecke.de:81/testbutton/a" class="w3-bar-item w3-button">Test Button</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav>

<!-- Header -->
<div class="w3-row w3-border w3-black">
	<div class="w3-third w3-container w3-black w3-padding" id="myHeader">
    <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
  </div>
  <div class="w3-third w3-container">
	<h4 class="w3-center">SPOTIFY FRIENDSHIP SAVER APP</h4>
  </div>
  <div class="w3-third w3-container">
  	<!-- Space for info -->
    <h5></h5>  
  </div>
</div>
<br>


<div class="w3-container w3-padding">
       {% block content %}{% endblock %}
<br>


<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "100%";
    x.style.fontSize = "40px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

</script>


</body>
</html>
