<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SPOTIFY FRIENDSHIP SAVER APP</title>
	
<link rel="stylesheet" type="text/css" href="http://oliverheidorn.de/muddi/stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						
						<h3>HI {{ friendrender.upper() }}! PLEASE, JOIN THE FRIENDLIST {{ friendlistrender }}</h3>
						<p class="lead">You have been invited to the SPOTIFY FRIENDSHIP SAVER APP. 
						Whatever you and your friends are doing together, the app will play the music you will love.</p>
						
						<!-- Friendlist -->
						<table class="social" width="100%">
							<tr>
								<td> 
									
									<!--- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h4 class="">{{ friendname }}</h4>
                                                <p class="small">Invited you and 5 other friends.</p>
                                                <img src="{{ imagepathrender }}" />
                                                </td>

                                            
												
										</tr>
									</table><!-- /column 1 -->	
									
									<!--- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h4 class="">{{ friendlistrender }}</h4>												
                                                <p class="small">{{ friendlistdescriptionrender }}</p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						

						<!-- Callout Panel -->
						<p class="callout">
							Visit the page, log in to spotify and find out which music you and friends are sharing.<br><br>
							<a href = "{{ urlrender }}" class="btn">Click Me!</a>
						</p><!-- /Callout Panel -->
						
						<h3>Title Ipsum <small>This is a note.</small></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
												
						<br/>
						<br/>							
											
					
					
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>