{% extends "layout.html" %}

{% block content %}


<div class="w3-center w3-padding">
  <h2 class="w3-animate-bottom">SPOTIFY FRIENDSHIP SAVER APP</h2>
  <p class="w3-large">Music is not for fighting. Music is for sharing! Connect your Spotify with the Friendship saver app and find the music, you and all of your friends will love.</p>
</div>

<br>
<br>
<br>
<br>

<div class="w3-center w3-padding">
	<a href= "/profile"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Continue</button></a>
</div>


{% endblock %}
