{% extends "layout.html" %}

{% block content %}

{% if not user %}
  
	<div class="w3-center w3-padding">
		<h2>PLEASE, LOG IN </h2>
		<p class="w3-large">To find the best music for you and you friends, the Friendship Saver App needs to load the tracks you like.</p>
	</div>
	
	<div class="w3-center w3-padding">
		<a href= "/auth"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">OK</button></a>
	</div>
	
	<div class="w3-center w3-padding">
		<a href= "/intro"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Cancel</button></a>
	</div>

{% else %}


  
  
<div class="w3-responsive w3-padding">
<table class="w3-table">
<tbody>
<tr>
  <td width="120">
  	<img src="{{ userimage }}" alt="{{ username }}" style="width:80%">
  </td>
  <td>   
  	<h3>Welcome <br> {{ username }}</h3>  

</td>
</tr>
</tbody>
</table>
</div>

<hr>


<div class="w3-responsive w3-padding">


<table class="w3-table">
<tbody>

    {% if friendlist_render['INVITED'] %}    
	<tr>
		<td colspan = "3">
		<h3>Friendlists you are invited to</h3>
		</td>
	</tr>
	{% endif %}
{% for i in friendlist_render['INVITED'] %}
	<tr>
		<td padding="0">
			<strong>{{ i.friendlist }}</strong><br>
			{{ i.description }} <br>
			<small><i>{{ i.JOINED }} of {{ i.TOTAL }} {{ i.friend_grammar }} joined</i></small>
		</td>
		<td> 
	
		<td> 
		    <!-- Important: the UID is hidden in the user(aka profile data) variable. needs this to parse relevant info to friendlist database  -->
			<a class="w3-button w3-circle w3-large w3-black" href="/profile/join/{{ user['id'] }}/{{ i.friendlist }}"><i class="fa fa-check"></i></a>
		</td>
		<td>
			  <a class="w3-button w3-circle w3-large w3-black" href="/profile/reject/{{ user['id'] }}/{{ i.friendlist }}"><i class="fa fa-close"></i></a>			
		</td>
		<td>
			  <a class="w3-button w3-circle w3-large w3-black" href="/profile/friendlist/{{ user['id'] }}/{{ i.friendlist }}"><i class="fa fa-music"></i></a>			
		</td>
	</tr>

	{% endfor %}

{% if friendlist_render['JOINED'] %}    
	<tr>
		<td colspan = "3">
		<h3>Friendlists you joined</h3>
		</td>
	</tr>
{% endif %}


{% for i in friendlist_render['JOINED'] %}
	<tr>
		<td padding="0">
			<strong>{{ i.friendlist }}</strong><br>
			{{ i.description }}<br>
			<small><i>{{ i.JOINED }} of {{ i.TOTAL }} {{ i.friend_grammar }} joined</i></small>
		</td>
		<td> 
	
		<td> 
			  <a class="w3-button w3-circle w3-large w3-black" href= {{ url_for('play_friendlist') }}><i class="fa fa-play"></i></a>	
		</td>
		<td>
			  <a class="w3-button w3-circle w3-large w3-black" href="/profile/reject/{{ user['id'] }}/{{ i.friendlist }}"><i class="fa fa-close"></i></a>			
		</td>
		<td>
			  <a class="w3-button w3-circle w3-large w3-black" href="/profile/friendlist/{{ user['id'] }}/{{ i.friendlist }}"><i class="fa fa-music"></i></a>			
		</td>
	</tr>

	{% endfor %}

{% if friendlist_render['HOST'] %}    	
	<tr>
		<td colspan = "3">
		<h3>Friendlists you have created</h3>
		</td>
	</tr>
{% endif %}


{% for i in friendlist_render['HOST'] %}
	<tr>
		<td padding="0">
			<strong>{{ i.friendlist }}</strong><br>
			{{ i.description }}<br>
			<small><i>{{ i.JOINED }} of {{ i.TOTAL }} {{ i.friend_grammar }} you invited joined</i></small>
		</td>
		<td> 
	
		<td> 
		      <a class="w3-button w3-circle w3-large w3-black" href= {{ url_for('play_friendlist') }}><i class="fa fa-play"></i></a>	

		</td>
		<td>
			  <a class="w3-button w3-circle w3-large w3-black" href="/profile/friendlist/{{ user['id'] }}/{{ i.friendlist }}"><i class="fa fa-music"></i></a>			
		</td>
		<td>
			  <!-- <a class="w3-button w3-circle w3-large w3-black"><i class="fa fa-clock-o"></i></a> -->	
		</td>
	</tr>

	{% endfor %}
</tbody>
</table>
</div>
 
{% if not friendlist_render['INVITED'] and not friendlist_render['JOINED'] and not friendlist_render['HOST'] %}    	

<div class="w3-center w3-padding">
    <h2 class="w3-animate-bottom">No friendlists available, yet</h2>
    <p class="w3-large">Don't be sad. Just ask a friend to invite you. Or start you own friendlist. It's easy.</p>
    <br>
    <br>
</div>

{% endif %}


<hr>

	
	<div class="w3-center w3-padding">
	    <a href= {{ url_for('new_playlist') }}><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Create friendlist</button></a>
	    <br><br>
		<a href= {{ url_for('intro_screen') }}><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Cancel</button></a>
	</div>

{% endif %}

{% endblock %}