{% extends "layout.html" %}

{% block content %}

{% if not user %}

  <div class="container">
    <div class="mt-1">
      <h1>Profile</h1>
    </div>
    <p class="lead">You need to log in to see this page</p>

    <a type="button" class="btn btn-default" href="/auth">Login</a>
  </div>

{% else %}

	<div class="container">
	
	<h1>
	  
	      {% if user.images %}
            <img src="{{user.images[0].url}}" class="img-playlist">
          {% else %}
            <img src="http://bit.ly/2nXRRfX" class="img-playlist">
          {% endif %}

		Top tracks for {{ user.display_name }} </h1>

        <hr class="half-rule"/>

<!--      <div class="col-sm-4">

        <h3> Your playlists: </h3>
 

        {% for play in playlists %}
          <div class='row'>
            <a href="{{ play.external_urls.spotify }}">

              <div class='col-sm-8'>
                <span>{{ play.name }} </span>
              </div>

            </a>
          </div>
        {% endfor %}
      </div>
-->
     
        {% for toptrack in tracklist %}
          <div class='row'>

            <div class='col-sm-8'>
              <span>{{toptrack.name}}</span>
            </div>
            
          </div>
        {% endfor %}
		
		<div class='row'>

            <div class='col-sm-8'>
              <span>{{dictcheck}}</span>
            </div>
            
          </div>
 

<!--	<div class="col-sm-4">

        <h3> Recently played:</h3>
        <hr class="half-rule"/>

        {% for track in recently_played %}
          <div class='row'>
            <a href="{{track.track.external_urls.spotify}}">

              <div class='col-sm-8'>
                <span>{{track.track.name}}</span>
              </div>

            </a>
          </div>
        {% endfor %}
      </div>
-->

    </div>
	</div>

{% endif %}

{% endblock %}
