{% extends "layout.html" %}

{% block content %}


<div class="w3-padding">
  <h2>Version history</h2>

    <strong>4.12.</strong><br>
    <small>Adding friends added. Database is updated.</small><br><br>
    
    <strong>28.11.</strong><br>
    <small>Form extended. Styled. Validation. Error messages flashed. Data is added to friendlist_database.
    E-Mail function added. HTML-Mail styled and rendered.</small><br><br>
  
    <strong>27.11.</strong><br>
    <small>Invite by link works. New Playlist Form started</small><br><br>
  
    <strong>25.11.</strong><br>
    <small>Improved speed and stability. Database loading instead of passing through functions.</small><br><br>

    <strong>24.11.</strong><br>
    <small>Added auto-invite for new users during prototyping.</small></p>
</div>

<br>
<br>
<br>
<br>

<div class="w3-center w3-padding">
	<a href= "/intro"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Continue</button></a>
</div>


{% endblock %}
